@import "tailwindcss";

:root {
  /* --bg-gradient: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  --bg-gradient: radial-gradient(ellipse at bottom right, #0f172a, #1e1a78, #0f172a);
  --text-color: #ffffff;
  /* --editor-color: rgba(255, 255, 255, 0.8); */
  --editor-color: transparent;
  /* --font-family: sans-serif; */
  --font-family: 'Poppins';
}

body {
  background: var(--bg-gradient);
  color: var(--text-color);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  transition: all 0.3s ease;
} 

/* Glassmorphism Utilities */
.glass {
  background: var(--editor-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sidebar-scroll::-webkit-scrollbar {
  width: 6px;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
}
